@model WeddingAnniversary.Areas.User.Models.Guest

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Guest</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="AllowedPusOne" /> @Html.DisplayNameFor(model => model.AllowedPusOne)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="GuestListId" class="control-label"></label>
                <select asp-for="GuestListId" class ="form-control" asp-items="ViewBag.GuestListId"></select>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="RSVP" /> @Html.DisplayNameFor(model => model.RSVP)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="PlusOne" class="control-label"></label>
                <input asp-for="PlusOne" class="form-control" />
                <span asp-validation-for="PlusOne" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlusOneName" class="control-label"></label>
                <input asp-for="PlusOneName" class="form-control" />
                <span asp-validation-for="PlusOneName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlusOneSurname" class="control-label"></label>
                <input asp-for="PlusOneSurname" class="form-control" />
                <span asp-validation-for="PlusOneSurname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NotesId" class="control-label"></label>
                <select asp-for="NotesId" class ="form-control" asp-items="ViewBag.NotesId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
